<a href="https://colab.research.google.com/github/Daps2831/Machine-Learning/blob/main/Week%207/Week_7_Boosting_and_Bagging_Regresi_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mount File

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

# Ganti path sesuai lokasi file di Google Drive
# note: dataset obesity_level diambil dari kaggle
file_path = "/content/drive/MyDrive/Dataset/Infrared.csv"
# Membaca file Excel
df = pd.read_csv(file_path)

# Data describing and preprocessing

In [4]:
# Tampilkan kolom kategorikal dan numerikal
print("\n--- Semua Kolom ---")
print(df.columns.tolist())

# Pisahkan kolom numerikal dan kategorikal
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

print("\n--- Kolom Categorikal ---")
print(list(categorical_cols))
print("\n--- Kolom Numerikal ---")
print(list(numerical_cols))

--- Semua Kolom ---
['Gender', 'Age', 'Ethnicity', 'T_atm', 'Humidity', 'Distance', 'T_offset1', 'Max1R13_1', 'Max1L13_1', 'aveAllR13_1', 'aveAllL13_1', 'T_RC1', 'T_RC_Dry1', 'T_RC_Wet1', 'T_RC_Max1', 'T_LC1', 'T_LC_Dry1', 'T_LC_Wet1', 'T_LC_Max1', 'RCC1', 'LCC1', 'canthiMax1', 'canthi4Max1', 'T_FHCC1', 'T_FHRC1', 'T_FHLC1', 'T_FHBC1', 'T_FHTC1', 'T_FH_Max1', 'T_FHC_Max1', 'T_Max1', 'T_OR1', 'T_OR_Max1', 'aveOralM']

--- Kolom Categorikal ---
['Gender', 'Age', 'Ethnicity']

--- Kolom Numerikal ---
['T_atm', 'Humidity', 'Distance', 'T_offset1', 'Max1R13_1', 'Max1L13_1', 'aveAllR13_1', 'aveAllL13_1', 'T_RC1', 'T_RC_Dry1', 'T_RC_Wet1', 'T_RC_Max1', 'T_LC1', 'T_LC_Dry1', 'T_LC_Wet1', 'T_LC_Max1', 'RCC1', 'LCC1', 'canthiMax1', 'canthi4Max1', 'T_FHCC1', 'T_FHRC1', 'T_FHLC1', 'T_FHBC1', 'T_FHTC1', 'T_FH_Max1', 'T_FHC_Max1', 'T_Max1', 'T_OR1', 'T_OR_Max1', 'aveOralM']

In [5]:
# 2. Lihat 5 baris pertama untuk memahami isinya
print("Lima baris pertama dari data:")
print(df.head())

print("\n" + "="*40 + "\n")

# 3. Lihat informasi dasar (tipe data, jumlah data non-null)
print("Informasi dasar dan tipe data:")
df.info()

print("\n" + "="*40 + "\n")

# 4. Lihat ringkasan statistik untuk kolom numerik
print("Ringkasan statistik data:")
print(df.describe())

Lima baris pertama dari data:
   Gender    Age                  Ethnicity  T_atm  Humidity  Distance  \
0    Male  41-50                      White   24.0      28.0       0.8
1  Female  31-40  Black or African-American   24.0      26.0       0.8
2  Female  21-30                      White   24.0      26.0       0.8
3  Female  21-30  Black or African-American   24.0      27.0       0.8
4    Male  18-20                      White   24.0      27.0       0.8

   T_offset1  Max1R13_1  Max1L13_1  aveAllR13_1  ...  T_FHRC1  T_FHLC1  \
0     0.7025    35.0300    35.3775      34.4000  ...  33.4775  33.3725
1     0.7800    34.5500    34.5200      33.9300  ...  34.0550  33.6775
2     0.8625    35.6525    35.5175      34.2775  ...  34.8275  34.6475
3     0.9300    35.2225    35.6125      34.3850  ...  34.4225  34.6550
4     0.8950    35.5450    35.6650      34.9100  ...  35.1600  34.3975

   T_FHBC1  T_FHTC1  T_FH_Max1  T_FHC_Max1   T_Max1    T_OR1  T_OR_Max1  \
0  33.4925  33.0025    34.5300     34.0075  35.6925  35.6350    35.6525
1  33.9700  34.0025    34.6825     34.6600  35.1750  35.0925    35.1075
2  34.8200  34.6700    35.3450     35.2225  35.9125  35.8600    35.8850
3  34.3025  34.9175    35.6025     35.3150  35.7200  34.9650    34.9825
4  34.6700  33.8275    35.4175     35.3725  35.8950  35.5875    35.6175

   aveOralM
0     36.59
1     37.19
2     37.34
3     37.09
4     37.04

[5 rows x 34 columns]

========================================

Informasi dasar dan tipe data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       1020 non-null   object
 1   Age          1020 non-null   object
 2   Ethnicity    1020 non-null   object
 3   T_atm        1020 non-null   float64
 4   Humidity     1020 non-null   float64
 5   Distance     1018 non-null   float64
 6   T_offset1    1020 non-null   float64
 7   Max1R13_1    1020 non-null   float64
 8   Max1L13_1    1020 non-null   float64
 9   aveAllR13_1  1020 non-null   float64
 10  aveAllL13_1  1020 non-null   float64
 11  T_RC1        1020 non-null   float64
 12  T_RC_Dry1    1020 non-null   float64
 13  T_RC_Wet1    1020 non-null   float64
 14  T_RC_Max1    1020 non-null   float64
 15  T_LC1        1020 non-null   float64
 16  T_LC_Dry1    1020 non-null   float64
 17  T_LC_Wet1    1020 non-null   float64
 18  T_LC_Max1    1020 non-null   float64
 19  RCC1         1020 non-null   float64
 20  LCC1         1020 non-null   float64
 21  canthiMax1   1020 non-null   float64
 22  canthi4Max1  1020 non-null   float64
 23  T_FHCC1      1020 non-null   float64
 24  T_FHRC1      1020 non-null   float64
 25  T_FHLC1      1020 non-null   float64
 26  T_FHBC1      1020 non-null   float64
 27  T_FHTC1      1020 non-null   float64
 28  T_FH_Max1    1020 non-null   float64
 29  T_FHC_Max1   1020 non-null   float64
 30  T_Max1       1020 non-null   float64
 31  T_OR1        1020 non-null   float64
 32  T_OR_Max1    1020 non-null   float64
 33  aveOralM     1020 non-null   float64
dtypes: float64(31), object(3)
memory usage: 271.1+ KB

========================================

Ringkasan statistik data:
             T_atm     Humidity     Distance    T_offset1    Max1R13_1  \
count  1020.000000  1020.000000  1018.000000  1020.000000  1020.000000
mean     24.115392    28.723039     0.729784     0.968648    35.596533
std       1.336338    13.071627     2.456486     0.362587     0.574888
min      20.200000     9.900000     0.540000    -0.590000    33.897500
25%      23.400000    17.600000     0.600000     0.772500    35.247500
50%      24.000000    26.300000     0.620000     0.940000    35.548750
75%      24.700000    36.200000     0.700000     1.140000    35.872500
max      29.100000    61.200000    79.000000     2.875000    38.405000

         Max1L13_1  aveAllR13_1  aveAllL13_1        T_RC1    T_RC_Dry1  ...  \
count  1020.000000  1020.000000  1020.000000  1020.000000  1020.000000  ...
mean     35.611474    34.888475    35.011345    35.659921    35.587143  ...
std       0.549760     0.718613     0.633836     0.553897     0.569278  ...
min      34.122500    31.770000    32.902500    33.985000    33.825000  ...
25%      35.271875    34.456250    34.651250    35.332500    35.249375  ...
50%      35.575000    34.915000    34.997500    35.602500    35.533750  ...
75%      35.883125    35.300000    35.363125    35.910625    35.855625  ...
max      38.042500    37.575000    37.680000    38.385000    38.380000  ...

           T_FHRC1      T_FHLC1      T_FHBC1      T_FHTC1    T_FH_Max1  \
count  1020.000000  1020.000000  1020.000000  1020.000000  1020.000000
mean     34.567782    34.565340    34.487701    34.577293    35.421555
std       0.669410     0.678663     0.668065     0.728678     0.523477
min      31.452500    31.657500    31.280000    31.150000    33.407500
25%      34.180000    34.177500    34.096875    34.225000    35.116875
50%      34.597500    34.602500    34.512917    34.622500    35.391250
75%      34.968125    34.965000    34.878125    35.012500    35.675000
max      37.075000    37.165000    37.212500    37.367500    38.002500

        T_FHC_Max1       T_Max1        T_OR1    T_OR_Max1     aveOralM
count  1020.000000  1020.000000  1020.000000  1020.000000  1020.000000
mean     35.094144    36.084785    35.805519    35.838277    37.028382
std       0.576045     0.491821     0.559258     0.559316     0.509502
min      32.440000    34.892500    33.802500    33.835000    35.540000
25%      34.756458    35.775000    35.474375    35.500000    36.777500
50%      35.100000    36.027500    35.790000    35.825000    36.940000
75%      35.415000    36.280000    36.087500    36.120625    37.140000
max      37.632500    38.807500    38.417500    38.455000    40.340000

[8 rows x 31 columns]

In [6]:
# Cek nilai yang hilang
print("\n--- Nilai Hilang ---")
print(df.isnull().sum())
print(f"Jumlah baris sebelum menangani missing values: {len(df)}")

--- Nilai Hilang ---
Gender         0
Age            0
Ethnicity      0
T_atm          0
Humidity       0
Distance       2
T_offset1      0
Max1R13_1      0
Max1L13_1      0
aveAllR13_1    0
aveAllL13_1    0
T_RC1          0
T_RC_Dry1      0
T_RC_Wet1      0
T_RC_Max1      0
T_LC1          0
T_LC_Dry1      0
T_LC_Wet1      0
T_LC_Max1      0
RCC1           0
LCC1           0
canthiMax1     0
canthi4Max1    0
T_FHCC1        0
T_FHRC1        0
T_FHLC1        0
T_FHBC1        0
T_FHTC1        0
T_FH_Max1      0
T_FHC_Max1     0
T_Max1         0
T_OR1          0
T_OR_Max1      0
aveOralM       0
dtype: int64
Jumlah baris sebelum menangani missing values: 1020

In [7]:
# Pisahkan kolom numerik dan kategorikal
numerical_cols = df.select_dtypes(include=['number']).columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

# Penanganan nilai hilang pada kolom numerik dengan mean
for col in numerical_cols:
    if df[col].isnull().any():
        mean_value = df[col].mean()
        df[col] = df[col].fillna(mean_value)

# Penanganan nilai hilang pada kolom kategorikal dengan 'unknown'
for col in categorical_cols:
    if df[col].isnull().any():
        df[col] = df[col].fillna('unknown')

# Cek kembali nilai yang hilang setelah penanganan
print("\n--- Nilai Hilang Setelah Penanganan ---")
print(df.isnull().sum())
print(f"Jumlah baris setelah menangani missing values: {len(df)}")

--- Nilai Hilang Setelah Penanganan ---
Gender         0
Age            0
Ethnicity      0
T_atm          0
Humidity       0
Distance       0
T_offset1      0
Max1R13_1      0
Max1L13_1      0
aveAllR13_1    0
aveAllL13_1    0
T_RC1          0
T_RC_Dry1      0
T_RC_Wet1      0
T_RC_Max1      0
T_LC1          0
T_LC_Dry1      0
T_LC_Wet1      0
T_LC_Max1      0
RCC1           0
LCC1           0
canthiMax1     0
canthi4Max1    0
T_FHCC1        0
T_FHRC1        0
T_FHLC1        0
T_FHBC1        0
T_FHTC1        0
T_FH_Max1      0
T_FHC_Max1     0
T_Max1         0
T_OR1          0
T_OR_Max1      0
aveOralM       0
dtype: int64
Jumlah baris setelah menangani missing values: 1020

In [8]:
# Cek data duplikat
print("\n--- Data Duplikat ---")
duplicate_rows = df[df.duplicated()]
print(f"Jumlah baris duplikat: {len(duplicate_rows)}")

# Jika ada data duplikat, Anda bisa menampilkan beberapa contoh
if not duplicate_rows.empty:
    print("\nContoh data duplikat:")
    print(duplicate_rows.head().to_markdown(index=False))

print(f"Jumlah baris sebelum menghapus duplikat: {len(df)}")

--- Data Duplikat ---
Jumlah baris duplikat: 0
Jumlah baris sebelum menghapus duplikat: 1020

In [9]:
# Mengecek apakah ada nilai numerik di kolom kategorikal yang spesifik
print("\n--- Mengecek nilai numerik di kolom kategorikal spesifik ---")

# Daftar kolom kategorikal yang ingin diperiksa
specified_categorical_cols = categorical_cols

for col in specified_categorical_cols:
    if col in df.columns:
        # Mengecek apakah tipe data kolom adalah object atau category
        if df[col].dtype == 'object' or df[col].dtype == 'category':
            # Mengecek apakah ada nilai yang bisa dikonversi menjadi numerik
            # Menggunakan pd.to_numeric dengan errors='coerce' akan mengganti nilai non-numerik menjadi NaN
            numeric_check = pd.to_numeric(df[col], errors='coerce')
            # Jika ada nilai yang *tidak* menjadi NaN setelah konversi, berarti ada nilai numerik
            if numeric_check.notna().any():
                print(f"Kolom '{col}': Ditemukan nilai yang bisa dikonversi menjadi numerik.")
                # Anda bisa menampilkan contoh nilai yang terpengaruh jika diinginkan
                print(df[col][numeric_check.notna()].unique())
            else:
                print(f"Kolom '{col}': Tidak ditemukan nilai yang bisa dikonversi menjadi numerik.")
        else:
            print(f"Kolom '{col}': Bukan merupakan tipe data kategorikal (object atau category).")
    else:
        print(f"Kolom '{col}': Tidak ditemukan dalam DataFrame.")

--- Mengecek nilai numerik di kolom kategorikal spesifik ---
Kolom 'Gender': Tidak ditemukan nilai yang bisa dikonversi menjadi numerik.
Kolom 'Age': Tidak ditemukan nilai yang bisa dikonversi menjadi numerik.
Kolom 'Ethnicity': Tidak ditemukan nilai yang bisa dikonversi menjadi numerik.

In [10]:
# prompt: buatkan kode apabila ada nilai pada kolom kategorikal yang aneh atau tidak pada umumnya

# Fungsi untuk mengecek nilai aneh/tidak umum pada kolom kategorikal
def check_uncommon_categorical_values(df, categorical_cols):
    print("\n--- Mengecek nilai aneh/tidak umum pada kolom kategorikal ---")
    for col in categorical_cols:
        print(f"\nKolom: {col}")
        # Mendapatkan nilai unik dan hitungannya
        value_counts = df[col].value_counts()
        print(f"Jumlah nilai unik: {len(value_counts)}")
        print("Top 10 nilai unik dan hitungannya:")
        print(value_counts.head(10).to_markdown(numalign="left", stralign="left"))

        # Anda bisa menambahkan logika tambahan di sini untuk mengidentifikasi "nilai aneh"
        # Contoh: nilai yang muncul sangat jarang (frekuensi rendah)
        # Tentukan threshold frekuensi rendah, misal kurang dari 0.1% dari total data
        threshold = 0.001 * len(df)
        uncommon_values = value_counts[value_counts < threshold]

        if not uncommon_values.empty:
            print(f"\nDitemukan nilai dengan frekuensi rendah (kurang dari {threshold:.0f} baris):")
            print(uncommon_values.to_markdown(numalign="left", stralign="left"))
        else:
            print("\nTidak ditemukan nilai dengan frekuensi rendah.")

# Panggil fungsi untuk mengecek kolom kategorikal
check_uncommon_categorical_values(df, categorical_cols)

# Jika Anda ingin menangani nilai aneh ini, Anda bisa mempertimbangkan beberapa pendekatan:
# 1. Mengganti nilai aneh dengan nilai yang paling sering muncul (mode)
# 2. Mengganti nilai aneh dengan 'Other' atau 'Unknown'
# 3. Menghapus baris yang mengandung nilai aneh (hati-hati, bisa mengurangi jumlah data signifikan)
# 4. Mengelompokkan nilai aneh ke dalam kategori yang lebih besar

# Contoh penanganan: Mengganti nilai aneh dengan 'Other' jika frekuensinya di bawah threshold
def handle_uncommon_categorical_values(df, col, threshold_ratio=0.01):
    value_counts = df[col].value_counts()
    threshold = threshold_ratio * len(df)
    uncommon_values = value_counts[value_counts < threshold].index.tolist()

    if uncommon_values:
        print(f"\nMenangani nilai aneh di kolom '{col}': Mengganti {len(uncommon_values)} nilai dengan 'Other'.")
        df[col] = df[col].replace(uncommon_values, 'Other')
        print(f"Nilai unik di kolom '{col}' setelah penanganan:")
        print(df[col].value_counts().to_markdown(numalign="left", stralign="left"))
    else:
        print(f"\nKolom '{col}': Tidak ada nilai aneh untuk ditangani dengan threshold {threshold_ratio}.")
    return df

# # Contoh penerapan penanganan (opsional, jalankan jika Anda ingin menangani nilai aneh)
# # Tentukan threshold_ratio yang sesuai
# threshold_ratio_for_handling = 0.01
# for col in categorical_cols:
#      df = handle_uncommon_categorical_values(df, col, threshold_ratio=threshold_ratio_for_handling)

--- Mengecek nilai aneh/tidak umum pada kolom kategorikal ---

Kolom: Gender
Jumlah nilai unik: 2
Top 10 nilai unik dan hitungannya:
| Gender   | count   |
|:---------|:--------|
| Female   | 606     |
| Male     | 414     |

Tidak ditemukan nilai dengan frekuensi rendah.

Kolom: Age
Jumlah nilai unik: 8
Top 10 nilai unik dan hitungannya:
| Age   | count   |
|:------|:--------|
| 18-20 | 534     |
| 21-25 | 355     |
| 26-30 | 67      |
| 31-40 | 31      |
| 51-60 | 11      |
| 21-30 | 10      |
| 41-50 | 9       |
| >60   | 3       |

Tidak ditemukan nilai dengan frekuensi rendah.

Kolom: Ethnicity
Jumlah nilai unik: 6
Top 10 nilai unik dan hitungannya:
| Ethnicity                         | count   |
|:----------------------------------|:--------|
| White                             | 506     |
| Asian                             | 260     |
| Black or African-American         | 143     |
| Hispanic/Latino                   | 57      |
| Multiracial                       | 50      |
| American Indian or Alaskan Native | 4       |

Tidak ditemukan nilai dengan frekuensi rendah.

In [11]:
print("\n--- Mengecek nilai kategorikal pada kolom numerik ---")

# Daftar kolom numerik yang ingin diperiksa
specified_numerical_cols = numerical_cols

for col in specified_numerical_cols:
    if col in df.columns:
        # Mengecek apakah tipe data kolom adalah numerik (int, float)
        if pd.api.types.is_numeric_dtype(df[col]):
            # Menggunakan pd.to_numeric dengan errors='coerce' untuk mengidentifikasi nilai non-numerik
            # Nilai yang tidak bisa dikonversi menjadi numerik akan menjadi NaN
            numeric_check = pd.to_numeric(df[col], errors='coerce')

            # Menemukan nilai-nilai asli di kolom df[col] di mana numeric_check adalah NaN
            non_numeric_values = df[col][numeric_check.isna()].unique()

            if len(non_numeric_values) > 0:
                print(f"Kolom '{col}': Ditemukan nilai non-numerik (kategorikal/string):")
                print(non_numeric_values)
            else:
                print(f"Kolom '{col}': Tidak ditemukan nilai non-numerik.")
        else:
            print(f"Kolom '{col}': Bukan merupakan tipe data numerik.")
    else:
        print(f"Kolom '{col}': Tidak ditemukan dalam DataFrame.")

--- Mengecek nilai kategorikal pada kolom numerik ---
Kolom 'T_atm': Tidak ditemukan nilai non-numerik.
Kolom 'Humidity': Tidak ditemukan nilai non-numerik.
Kolom 'Distance': Tidak ditemukan nilai non-numerik.
Kolom 'T_offset1': Tidak ditemukan nilai non-numerik.
Kolom 'Max1R13_1': Tidak ditemukan nilai non-numerik.
Kolom 'Max1L13_1': Tidak ditemukan nilai non-numerik.
Kolom 'aveAllR13_1': Tidak ditemukan nilai non-numerik.
Kolom 'aveAllL13_1': Tidak ditemukan nilai non-numerik.
Kolom 'T_RC1': Tidak ditemukan nilai non-numerik.
Kolom 'T_RC_Dry1': Tidak ditemukan nilai non-numerik.
Kolom 'T_RC_Wet1': Tidak ditemukan nilai non-numerik.
Kolom 'T_RC_Max1': Tidak ditemukan nilai non-numerik.
Kolom 'T_LC1': Tidak ditemukan nilai non-numerik.
Kolom 'T_LC_Dry1': Tidak ditemukan nilai non-numerik.
Kolom 'T_LC_Wet1': Tidak ditemukan nilai non-numerik.
Kolom 'T_LC_Max1': Tidak ditemukan nilai non-numerik.
Kolom 'RCC1': Tidak ditemukan nilai non-numerik.
Kolom 'LCC1': Tidak ditemukan nilai non-numerik.
Kolom 'canthiMax1': Tidak ditemukan nilai non-numerik.
Kolom 'canthi4Max1': Tidak ditemukan nilai non-numerik.
Kolom 'T_FHCC1': Tidak ditemukan nilai non-numerik.
Kolom 'T_FHRC1': Tidak ditemukan nilai non-numerik.
Kolom 'T_FHLC1': Tidak ditemukan nilai non-numerik.
Kolom 'T_FHBC1': Tidak ditemukan nilai non-numerik.
Kolom 'T_FHTC1': Tidak ditemukan nilai non-numerik.
Kolom 'T_FH_Max1': Tidak ditemukan nilai non-numerik.
Kolom 'T_FHC_Max1': Tidak ditemukan nilai non-numerik.
Kolom 'T_Max1': Tidak ditemukan nilai non-numerik.
Kolom 'T_OR1': Tidak ditemukan nilai non-numerik.
Kolom 'T_OR_Max1': Tidak ditemukan nilai non-numerik.
Kolom 'aveOralM': Tidak ditemukan nilai non-numerik.

In [12]:
# prompt: buatkan Encoding Variabel Kategorikal

from sklearn.preprocessing import LabelEncoder

# Pilih kolom kategorikal yang ingin di-encode
specified_categorical_cols = categorical_cols # Ganti dengan nama kolom kategorikal Anda

# Buat salinan dataframe agar tidak mengubah dataframe asli
df_encoded_only = df.copy()

# Lakukan encoding menggunakan LabelEncoder
for col in specified_categorical_cols:
    le = LabelEncoder()
    df_encoded_only[col] = le.fit_transform(df_encoded_only[col])

# Tampilkan beberapa baris pertama setelah encoding
print("\n--- Dataframe Setelah Encoding Variabel Kategorikal ---")
print(df_encoded_only.head())

--- Dataframe Setelah Encoding Variabel Kategorikal ---
   Gender  Age  Ethnicity  T_atm  Humidity  Distance  T_offset1  Max1R13_1  \
0       1    5          5   24.0      28.0       0.8     0.7025    35.0300
1       0    4          2   24.0      26.0       0.8     0.7800    34.5500
2       0    2          5   24.0      26.0       0.8     0.8625    35.6525
3       0    2          2   24.0      27.0       0.8     0.9300    35.2225
4       1    0          5   24.0      27.0       0.8     0.8950    35.5450

   Max1L13_1  aveAllR13_1  ...  T_FHRC1  T_FHLC1  T_FHBC1  T_FHTC1  T_FH_Max1  \
0    35.3775      34.4000  ...  33.4775  33.3725  33.4925  33.0025    34.5300
1    34.5200      33.9300  ...  34.0550  33.6775  33.9700  34.0025    34.6825
2    35.5175      34.2775  ...  34.8275  34.6475  34.8200  34.6700    35.3450
3    35.6125      34.3850  ...  34.4225  34.6550  34.3025  34.9175    35.6025
4    35.6650      34.9100  ...  35.1600  34.3975  34.6700  33.8275    35.4175

   T_FHC_Max1   T_Max1    T_OR1  T_OR_Max1  aveOralM
0     34.0075  35.6925  35.6350    35.6525     36.59
1     34.6600  35.1750  35.0925    35.1075     37.19
2     35.2225  35.9125  35.8600    35.8850     37.34
3     35.3150  35.7200  34.9650    34.9825     37.09
4     35.3725  35.8950  35.5875    35.6175     37.04

[5 rows x 34 columns]

In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 2. Menentukan Fitur (X) dan Target (y)
target_column = 'aveOralM'
if target_column not in df_encoded_only.columns:
    print(f"Error: Kolom target '{target_column}' tidak ditemukan.")
    print(f"Kolom yang tersedia: {df.columns.tolist()}")
else:
    y = df_encoded_only[target_column]
    X = df_encoded_only.drop(target_column, axis=1)

    print("âœ“ Fitur (X) dan Target (y) berhasil dipisahkan.")
    print(f"  - Target (y): '{target_column}'")
    print(f"  - Jumlah Fitur (X): {X.shape[1]} kolom")
    print(f"  - Jumlah Total Sampel: {df.shape[0]} baris")
    print("-" * 40)

    # 3. Membagi Data menjadi Data Latih dan Data Uji
    # Menggunakan stratify untuk menjaga proporsi kelas, penting untuk klasifikasi.
    try:
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, random_state=42, stratify=y
        )
        print("âœ“ Data berhasil dibagi (80% latih, 20% uji) menggunakan stratify.")
    except ValueError:
        print("Peringatan: Gagal menggunakan 'stratify'. Mungkin karena beberapa kelas hanya punya 1 anggota.")
        print("Mencoba membagi data tanpa 'stratify'...")
        X_train, X_test, y_train, y_test = train_test_split(
            X, y, test_size=0.2, random_state=42
        )
        print("âœ“ Data berhasil dibagi (80% latih, 20% uji) tanpa stratify.")

    print(f"  - Ukuran X_train: {X_train.shape}")
    print(f"  - Ukuran X_test:  {X_test.shape}")
    print("-" * 40)

    # 4. Penskalaan Fitur (Feature Scaling)
    scaler = StandardScaler()

    # Latih scaler HANYA pada data latih (X_train) untuk menghindari kebocoran data
    X_train_scaled = scaler.fit_transform(X_train)

    # Gunakan scaler yang sudah dilatih untuk mengubah data uji (X_test)
    X_test_scaled = scaler.transform(X_test)

    print("âœ“ Penskalaan fitur berhasil.")
    print("  - Variabel 'X_train_scaled' dan 'X_test_scaled' telah dibuat.")
    print("-" * 40)

    print("ðŸŽ‰ PREPROCESSING SELESAI ðŸŽ‰")
    print("Data Anda sekarang siap untuk pemodelan.")

âœ“ Fitur (X) dan Target (y) berhasil dipisahkan.
  - Target (y): 'aveOralM'
  - Jumlah Fitur (X): 33 kolom
  - Jumlah Total Sampel: 1020 baris
----------------------------------------
Peringatan: Gagal menggunakan 'stratify'. Mungkin karena beberapa kelas hanya punya 1 anggota.
Mencoba membagi data tanpa 'stratify'...
âœ“ Data berhasil dibagi (80% latih, 20% uji) tanpa stratify.
  - Ukuran X_train: (816, 33)
  - Ukuran X_test:  (204, 33)
----------------------------------------
âœ“ Penskalaan fitur berhasil.
  - Variabel 'X_train_scaled' dan 'X_test_scaled' telah dibuat.
----------------------------------------
ðŸŽ‰ PREPROCESSING SELESAI ðŸŽ‰
Data Anda sekarang siap untuk pemodelan.

# Modelling

In [16]:

# Import library yang diperlukan
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import GridSearchCV, cross_val_score

# --- Model Boosting (Gradient Boosting) ---
print("\n" + "="*20 + " MODEL BOOSTING (GRADIENT BOOSTING) " + "="*20)

# Inisialisasi model Gradient Boosting Regressor
gb_model = GradientBoostingRegressor(random_state=42)

# Latih model pada data latih yang sudah diskalakan
print("\nMelatih model Gradient Boosting...")
gb_model.fit(X_train_scaled, y_train)
print("Pelatihan Gradient Boosting selesai.")

# Lakukan prediksi pada data uji yang sudah diskalakan
y_pred_gb = gb_model.predict(X_test_scaled)

# Evaluasi model
print("\n--- Evaluasi Model Gradient Boosting ---")
print(f"Mean Squared Error (MSE): {mean_squared_error(y_test, y_pred_gb):.4f}")
print(f"R-squared (R2): {r2_score(y_test, y_pred_gb):.4f}")
print(f"Mean Absolute Error (MAE): {mean_absolute_error(y_test, y_pred_gb):.4f}")


# --- Model Bagging (Random Forest) ---
print("\n" + "="*20 + " MODEL BAGGING (RANDOM FOREST) " + "="*20)

# Inisialisasi model Random Forest Regressor
rf_model = RandomForestRegressor(random_state=42)

# Latih model pada data latih yang sudah diskalakan
print("\nMelatih model Random Forest...")
rf_model.fit(X_train_scaled, y_train)
print("Pelatihan Random Forest selesai.")

# Lakukan prediksi pada data uji yang sudah diskalakan
y_pred_rf = rf_model.predict(X_test_scaled)

# Evaluasi model
print("\n--- Evaluasi Model Random Forest ---")
print(f"Mean Squared Error (MSE): {mean_squared_error(y_test, y_pred_rf):.4f}")
print(f"R-squared (R2): {r2_score(y_test, y_pred_rf):.4f}")
print(f"Mean Absolute Error (MAE): {mean_absolute_error(y_test, y_pred_rf):.4f}")


# --- Opsional: Evaluasi Cross-Validation for Gradient Boosting ---
print("\n" + "="*15 + " CROSS-VALIDATION (GRADIENT BOOSTING) " + "="*15)
print("\nMelakukan Cross-Validation untuk Gradient Boosting...")

# Lakukan cross-validation
scores_gb_cv = cross_val_score(gb_model, X_train_scaled, y_train, cv=5, scoring='neg_mean_squared_error') # Use appropriate metric

print(f"Skor Cross-Validation (Negative MSE) (5-fold) untuk Gradient Boosting: {scores_gb_cv}")
print(f"Rata-rata Negative MSE Cross-Validation: {scores_gb_cv.mean():.4f}")
print(f"Rata-rata MSE Cross-Validation: {-scores_gb_cv.mean():.4f}")
print(f"Standar Deviasi Negative MSE Cross-Validation: {scores_gb_cv.std():.4f}")


print("\nðŸŽ‰ PEMODELAN SELESAI ðŸŽ‰")

==================== MODEL BOOSTING (GRADIENT BOOSTING) ====================

Melatih model Gradient Boosting...
Pelatihan Gradient Boosting selesai.

--- Evaluasi Model Gradient Boosting ---
Mean Squared Error (MSE): 0.0493
R-squared (R2): 0.7657
Mean Absolute Error (MAE): 0.1748

==================== MODEL BAGGING (RANDOM FOREST) ====================

Melatih model Random Forest...
Pelatihan Random Forest selesai.

--- Evaluasi Model Random Forest ---
Mean Squared Error (MSE): 0.0570
R-squared (R2): 0.7292
Mean Absolute Error (MAE): 0.1828

=============== CROSS-VALIDATION (GRADIENT BOOSTING) ===============

Melakukan Cross-Validation untuk Gradient Boosting...
Skor Cross-Validation (Negative MSE) (5-fold) untuk Gradient Boosting: [-0.05918371 -0.05311762 -0.06781661 -0.08068838 -0.07485549]
Rata-rata Negative MSE Cross-Validation: -0.0671
Rata-rata MSE Cross-Validation: 0.0671
Standar Deviasi Negative MSE Cross-Validation: 0.0100

ðŸŽ‰ PEMODELAN SELESAI ðŸŽ‰